.section {
    background-color: var(--slate-50);
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.title {
    max-width: 600px;
}

.divider {
    margin-top: 80px;
    width: 100%;
    height: 1px;
    background-color: var(--slate-200);
}

.numbers {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number:not(:last-child) {
    border-right: 1px solid var(--slate-200);
}

.number_title span {
    font-weight: 300;
}

.number_description {
    margin-top: 16px;
    padding: 8px 16px;
    background-color: var(--slate-200);
    border-radius: 96px;
}

@media (max-width: 1200px) {
    .number_title {
        font-size: 72px;
        line-height: auto;
        letter-spacing: -2%;
    }
}

@media (max-width: 768px) {
    .numbers,
    .divider {
        margin-top: 64px;
    }

    .number_title {
        font-size: 56px;
        line-height: auto;
        letter-spacing: -2%;
    }
}

@media (max-width: 480px) {
    .content {
        flex-direction: column;
        gap: 32px;
    }
    .divider {
        margin-top: 48px;
    }

    .numbers {
        margin-top: 48px;
        grid-template-columns: repeat(1, auto);
        gap: 48px;
    }

    .number:not(:last-child) {
        border-right: none;
        padding-bottom: 48px;
        border-bottom: 1px solid var(--slate-200);
    }
}
