.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content .title {
    max-width: 600px;
}

.values {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
}

.value {
    display: flex;
    gap: 80px;
}

.value svg {
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}

.value_description {
    margin-top: 8px;
    color: var(--slate-500);
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 32px;
    }

    .values {
        gap: 64px;
    }

    .value {
        gap: 48px;
    }
}

@media (max-width: 480px) {
    .values {
        grid-template-columns: 1fr;
    }

    .value {
        flex-direction: column;
        gap: 24px;
    }
}
